/* Color palette:
	Charcocal:			#171717
	Slate Gray: 		#222
	Gray: 					#333
	Electric Green: #00bc8c
*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600&display=swap');

html, body {
	font-family: 'IBM Plex Mono', 'monospace';
	text-transform: lowercase;

	/* Prevent scrolling */
	/* overflow: hidden; */

	/* Color Variables */
	--charcoal: #171717;
	--slate-gray: #222;
	--gray: #333;
	--electric-green: #00bc8c;
}

#header {
	box-shadow: 0 .05em .5em black;
}

.navbar {
	background-color: var(--charcoal) !important;
}

.navbar a {
	padding: 0 1em;
}

.navbar .navbar-brand {
	color: var(--electric-green, green) !important;
	background: none;
	text-transform: uppercase;
}

strong {
	color: var(--gray, gray);
	background: var(--electric-green, green);
	padding: 0.25em;
}

.jumbotron {
	color: var(--electric-green, green);
	background-color: var(-gray, gray);
	background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 75vh;
	margin-bottom: 0;
	margin-top: 7vh;
}

.lead {
	text-transform: uppercase;
}

.blinking {
	animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
	0%{     color: inherit;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: inherit;    }
}

@keyframes blink {
	0%{     color: inherit;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: inherit;    }
}

.page-footer .container {
	height: 14vh;
	vertical-align: middle;
}

.fab span{
	font-family: 'Fira Mono', monospace;
	font-size: .5em;
	padding-left: 1em;
	vertical-align: middle;
}

.footer-copyright {
	color: var(--electric-green);
	background-color: var(--charcoal);
}