@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Slab:400,700&display=swap');
/* GENERAL STYLE =========================================================== */
html, body {
    /* make page full size */
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Roboto Slab', serif;
    line-height: 1.5;

    transition: background 0.35s ease-in-out 0s,
                color 0.35s ease-in-out 0s;

    color: var(--text-color);
    background: var(--background-color);
}

a {
    color: var(--accent-color);
    text-decoration: none;

    transition: color 0.35s ease-in-out 0s;
}


a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* main content */
.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;

    width: 80%;
    max-width: 80%;
    padding: 20px 25px;
    background: var(--content-background);
    border-radius: 25px;

    transition: background 0.35s ease-in-out 0s;
}

@media screen and (min-width: 860px) {
    .content {
        width: 33%;
        max-width: 33%;
    }
}

.content h1 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-size: 2.5rem;
}

/* recent things list */
#recent {
    list-style: none;
    font-family: 'Inconsolata', monospace;
    padding-left: 0;
    margin-top: 0;
    list-style: none;

    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

#recent li:before {
    color: var(--caret-color);
    content: '\03E \020';
    transition: color 0.35s ease-in-out 0s;
}

#recent li {
    margin: 10px 0;
}

#recent ul {
    list-style: none
}

/* footer */
.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.footer button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.footer button:hover {
    text-decoration: underline;
}

@media screen and (min-width: 860px) {
    .footer {
        justify-content: space-evenly;
        width: 100%;
    }
}

#github {
    border: none;
    margin-right: 20px;
    background: var(--accent-color);
    color: var(--content-background);
    text-decoration-color: var(--content-background);

    transition: color 0.35s ease-in-out 0s;
    transition: background 0.35s ease-in-out 0s;
}

#github a {
    color: var(--content-background);
}

#contact {
    color: var(--accent-color);
    background: var(--content-color);
    border: none;
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;

    text-decoration-color: var(--accent-color);

    transition: color 0.35s ease-in-out 0s,
                background 0.35s ease-in-out 0s,
                outline 0.35s ease-in-out 0s;
}

@media screen and (max-height: 500px) {
    .content {
        font-size: 3vh;
    }

    .content h1 {
        font-size: 10vh;
    }

    .footer button {
        padding: 2vh 4vh;
    }
}

#theme-selection {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 10px;
    left: 0;
    bottom: 0;
}

#current-theme {
    position: relative;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out 0s,
                color 0.35s ease-in-out 0s;
    color: var(--caret-color);
    line-height: 1;
    padding-bottom: .25em;
}

#theme-selection:hover #current-theme {
    opacity: 1;
}

#theme-buttons {
    display: flex;
    justify-content: flex-start;
    opacity: 1;
    transition: opacity .3s ease-in-out 0s;
}

@media screen and (max-width: 860px) {
    #theme-buttons {
        opacity: 0;
    }

    #theme-selection:hover #current-theme {
        opacity: 0;
    }
}

#theme-buttons button {
    visibility: visible;
    border: none;
    padding: 0px 10px 10px 10px;
    background: transparent;
    opacity: 0.4;
    font-size: 2em;
    color: var(--caret-color);
    transition: opacity .4s ease-in-out 0s,
                color 0.35s ease-in-out 0s;
}

#theme-buttons button:hover {
    cursor: pointer;
    opacity: 1;
}

#theme-buttons button:active {
    -webkit-transition: opacity .4s ease-in-out 0s;
}

#theme-buttons button:focus {
    outline: none;
}
