@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Slab:400,700&display=swap');
/* GENERAL STYLE =========================================================== */
html, body {
    /* make page full size */
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Roboto Slab', serif;
    line-height: 1.5;

    transition: background 0.35s ease-in-out 0s,
                color 0.35s ease-in-out 0s;

    color: var(--text-color);
    background: var(--background-color);

    /* no scrolling */
    position: fixed;
}

* {
        -webkit-touch-callout: none;
        -webkit-user-callout: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-modify: none;
        -webkit-highlight: none;
}


a {
    color: var(--accent-color);
    text-decoration: none;

    transition: color 0.35s ease-in-out 0s;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

#page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* main content */
#content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;

    width: 80%;
    max-width: 80%;
    padding: 0px 25px 20px 25px;
    background: var(--content-background-color);
    border-radius: 15px;

    transition: background 0.35s ease-in-out 0s;
}

#content h1 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 1.75rem;
}

#pronouns {
    font-size: 1rem;
    height: 100%;
    display: inline-flex;
    align-items: center;
    opacity: 90%;
}

/* recent things list */
#recent {
    list-style: none;
    font-family: 'Inconsolata', monospace;
    padding-left: 0;
    margin-top: 0;
    list-style: none;

    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

#recent li:before {
    color: var(--caret-color);
    content: '\03E \020';
    transition: color 0.35s ease-in-out 0s;
}

#recent li {
    margin: 5px 0;
}

#recent li li {
    margin: 5px 0;
}

#recent ul {
    list-style: none
}

/* footer */
#footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#footer a {
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    width: 5.5em;
    height: 2.75em;
    display: block;

    text-align: center;
    line-height: 2.5em;
    border-radius: 5px;
}

#github {
    border: none;
    background: var(--accent-color);
    color: var(--content-background-color);
    text-decoration-color: var(--content-background-color);

    transition: color 0.35s ease-in-out 0s,
                background 0.35s ease-in-out 0s,
                outline 0.35s ease-in-out 0s;

    border: 2px solid var(--accent-color);
}

#contact,
#resume {
    color: var(--accent-color);
    background: var(--content-color);
    border: 2px solid var(--accent-color);

    text-decoration-color: var(--accent-color);

    transition: color 0.35s ease-in-out 0s,
                background 0.35s ease-in-out 0s,
                outline 0.35s ease-in-out 0s;
}

#resume {
    margin: 0 20px;
}

#theme-selection {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 10px;
    left: 0;
    bottom: 0;
}

#current-theme {
    position: relative;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out 0s,
                color 0.35s ease-in-out 0s;
    color: var(--caret-color);
    line-height: 1;
    padding-bottom: .25em;
}

#theme-buttons {
    display: none;
    justify-content: flex-start;
    transition: opacity .3s ease-in-out 0s;
}

#theme-buttons button {
    visibility: visible;
    border: none;
    padding: 0px 10px 10px 10px;
    background: transparent;
    opacity: 0.4;
    font-size: 2em;
    color: var(--caret-color);
    transition: opacity .4s ease-in-out 0s,
                color 0.35s ease-in-out 0s;
}

#theme-buttons button:hover {
    cursor: pointer;
    opacity: 1;
}

#theme-buttons button:active {
    -webkit-transition: opacity .4s ease-in-out 0s;
}

#theme-buttons button:focus {
    outline: none;
}

/* on screens >860px in width */
@media screen and (min-width: 860px) {
    /* remove position: fixed */
    html,
    body {
        position: initial;
    }

    #content {
        padding: 20px 25px;
        width: 33%;
        max-width: 33%;
    }

    #footer {
        justify-content: space-evenly;
        width: 100%;
    }

    #theme-buttons {
        display: flex;
    }

    #theme-selection:hover #current-theme {
        opacity: 1;
    }
}

/* adjust font size on screens < 500px in height */
/* this prevents text from overflowing on top and bottom */
@media screen and (max-height: 500px) {
    #content {
        font-size: 2.7vh;
    }

    #content h1 {
        font-size: 6.7vh;
        margin-bottom: 0.5rem;
    }

    #content ul {
        display: block;
        font-size: .5rem;
    }
}
