/* Color palette:
	Slate Gray: #222
	Electric Green: #b9c0be
*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600&display=swap');

html, body {
	font-family: 'IBM Plex Mono', 'monospace';
	text-transform: lowercase;

	/* Prevent scrolling */
	overflow: hidden;
}

.navbar a {
	padding: 0 1em;
}

.navbar .navbar-brand {
	color: #00bc8c !important;
	background: none;
	text-transform: uppercase;
}

.navbar .navbar-brand strong {
	color: #303030;
	background: #00bc8c;
	padding: 0.25em;
}

.jumbotron {
	color: #00bc8c;
	background-color: #222;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.blinking {
	animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
	0%{     color: inherit;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: inherit;    }
}

@keyframes blink {
	0%{     color: inherit;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: inherit;    }
}